.Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 1;
    align-items: center;
    padding: 0px 0px 60px 0px;
}

@media (max-width: 960px) {
    .Container {
        padding: 0px;
    }

}

.Wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1350px;
    padding: 40px 0px 0px 0px;
    gap: 12px;
}

@media (max-width: 960px) {
    .Wrapper {
        flex-direction: column;
    }

}
.Title {
    font-size: 42px;
    text-align: center;
    font-weight: 600;
    margin-top: 20px;
    color: #F2F3F4;
}

@media (max-width: 768px) {
    .Title {
        margin-top: 12px;
        font-size: 32px;
    }

}

.Desc {
    font-size: 18px;
    text-align: center;
    max-width: 600px;
    color: #b1b2b3;
}

@media (max-width: 768px) {
    .Desc {
        margin-top: 12px;
        font-size: 16px;
    }
}

.TimelineSection {
    width: 100%;
    max-width: 1000px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

@media (max-width: 660px) {
    .TimelineSection {
        align-items: end;
    }
}

/* Educations Card */



.Document{
    display: none;
    height: 70px;
    width: fit-content;
    background-color: #000;
    border-radius: 10px;  
}
.Document:hover{
    cursor: pointer;
    opacity: 0.8;  
}


.Description{
width: 100%;
font-size: 15px;
font-weight: 400;
color:#F2F3F4;
margin-bottom: 10px;
}
@media only screen and (max-width: 768px) {
    .Description{
        font-size: 12px;
    }
}

.Span{
    overflow: hidden;
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;    
}
.Card{
   
    border-radius: 10px;
    box-shadow: rgba(23, 92, 230, 0.15) 0px 4px 24px;
    padding: 12px 16px;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 12px;
    transition: all 0.3s ease-in-out;
    border: 0.1px solid #854CE6;
}
.Card:hover{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}
/* .Card:hover{
    display: none;
    height: 70px;
    width: fit-content;
    background-color: #000;
    border-radius: 10px;
    display: flex;
    cursor: pointer;
    opacity: 0.8; 
  
}
.Card:hover{
    overflow: hidden;
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: visible;
    -webkit-line-clamp: unset; 
} */


.Top{
width: 100%;
display: flex; 
gap: 12px 
}
.Image{
    height: 50px;
    background-color: #000;
    border-radius: 10px;
    margin-top: 4px;   
}
@media only screen and (max-width: 768px) {
    .Image{
        height: 40px;
    }
    
}

.Body{
width: 100%;
display: flex;
flex-direction: column;
}

.Name{
    font-size: 18px;
    font-weight: 600; 
    color:#F2F3F4;
}
@media only screen and (max-width: 768px) {
    .Name{
        font-size: 14px;
    }
}

.Degree{
    font-size: 14px;
    font-weight: 500;
    color:#b1b2b3;  
}
@media only screen and (max-width: 768px) {
    .Degree{
        font-size: 12px;
    }
    
}


.Date{
    font-size: 12px;
    font-weight: 400;
    color:#b1b2b3;  
}
@media only screen and (max-width: 768px) {
    .Date{
        font-size: 10px;
    }
}
.Grade{
font-size: 14px;
font-weight: 500;
color:#b1b2b3;
}
@media only screen and (max-width: 768px) {
    .Grade{
        font-size: 12px;
    }
}
