
.FooterContainer{
    width: 100%;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    background: linear-gradient(100.26deg, rgba(0, 102, 255, 0.05) 42.33%, rgba(150, 0, 225, 0.05) 127.07%);
}


.FooterWrapper{
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    align-items: center;
    padding: 1rem;
    color: #F2F3F4; 
}

.Logo{
    font-weight: 600;
    font-size: 20px;
    color:#854CE6;   
}
/* .Nav{
    width: 100%;
    max-width: 800px;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;  
}
@media (max-width: 768px) {
    .Nav{
        flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    }
  }



.NavLink{
    color:#F2F3F4 ;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.2s ease-in-out; 
}
.NavLink:hover {
    color:#854CE6;   
   
  }

  @media (max-width: 768px) {
   .NavLink{
    font-size: 1rem;
   }
  }  */

  .SocialMediaIcons{
    display: flex;
  margin-top: 1rem;
  }

  .SocialMediaIcon{
    display: inline-block;
  margin: 0 1rem;
  font-size: 1.5rem;
  color: #F2F3F4;
  transition: color 0.2s ease-in-out;
  }
  .SocialMediaIcon:hover{
    color: #854CE6;
  }

.Copyright{
    margin-top: 1.5rem;
    font-size: 0.9rem;
    color:#F2F3F4 ;
    text-align: center; 
}

